figcaption{
	color:#505050;
	font-style: italic;
}

body{
	margin-bottom: 5em;
	line-height: 2em;
}

.jumbotron h1{
    margin-top:0;
}

img.img-responsive{
	margin:3em 0;
}

h3{
	font-weight: 300;
}

.row{
    margin-top:25px;
    margin-bottom: 25px;
}

.accordion{
    background: #f1f1f1;
    border-radius: 5pt;
    border:#cccccc 1px solid;
    padding:10px 20px;
}